@import url('core/variables.css');
@import url('core/base.css');
@import url('layout/modals.css');
@import url('layout/browser-shell.css');
@import url('components/buttons.css');
@import url('components/inputs.css');
@import url('components/tabs.css');
@import url('components/settings.css');
@import url('components/home.css');
@import url('components/notifications.css');
@import url('utilities/performance.css');
@import url('utilities/responsive.css');